html {
    width: 80%;
    margin: 0 auto;
}

.nav {
    text-align: center;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid;
    margin-right: 50px;
    padding: 5px;
}

li {
    list-style-type: none;
}
